<h1>Aide</h1>
<p>Cette application permet de gérer une base de données de faits et de relations entre ces faits. Les routes suivantes sont disponibles :</p>
<ul>
  <li><a href="#/login">#/login</a> : page de connexion</li>
  <li><a href="#/logout">#/logout</a> : page de déconnexion</li>
  <li><a href="#/stats">#/stats</a> : page d'affichage des statistiques de la base de données</li>
  <li><a href="#/dump/faits/1">#/dump/faits/1</a> : page d'affichage des faits de la base de données avec pagination</li>
</ul>